openapi: 3.2.0
info:
  title: Arch Client Accounts API
  version: 0.1.0
  description: '# Arch Client API Documentation


    ## Getting Started


    To get started, you need to request credentials from us at api-support@arch.co.'
servers:
- url: /
host: arch.co
tags:
- name: Accounts
paths:
  /client-api/v0/accounts:
    get:
      summary: Get all accounts for caller
      security:
      - BearerAuth: []
      description: Returns the data for the specified account ids, if the user has access through the access token.
      tags:
      - Accounts
      parameters:
      - name: includeAddeparInfo
        in: query
        description: Include addepar account and entity info in the response
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '404':
          description: Account id not found or is inaccessible to the user
        '500':
          description: Internal server error.
      operationId: getClientApiV0Accounts
      x-operation-id-source: derived
  /client-api/v0/accounts/{id}:
    get:
      summary: Get data for a specific account
      security:
      - BearerAuth: []
      description: Returns the data for a specific account, if the user has access through the access token.
      tags:
      - Accounts
      parameters:
      - name: id
        in: path
        description: A specific account id to query for
        required: true
        schema:
          type: integer
      - name: includeAddeparInfo
        in: query
        description: Include addepar account and entity info in the response
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '404':
          description: Account id not found or is inaccessible to the user
        '500':
          description: Internal server error.
      operationId: getClientApiV0AccountsById
      x-operation-id-source: derived
components:
  schemas:
    ClientRef:
      type: object
      required:
      - kind
      - id
      - name
      properties:
        kind:
          type: string
          enum:
          - client-ref
        id:
          type: integer
          description: The id of the client
        name:
          example: John Client
          type: string
          description: The name of the client
    Account:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: integer
          description: The id of the account
        name:
          example: My Arch Account
          type: string
          description: The name of the account
        addeparInfo:
          type: object
          description: Addepar related data including account, firm and entity data
          properties:
            addeparFirmId:
              type: integer
              description: The Addepar id for the firm that's associated with the arch account
            addeparAccountId:
              type: integer
              description: The Addepar account id that's associated with the arch account
            addeparEntities:
              type: array
              description: A list of Addepar entities associated with the arch account's addepar account
              items:
                type: object
                properties:
                  addeparEntityId:
                    type: integer
                    description: The id of this Addepar entity
                  name:
                    type: string
                    example: My Addepar Entity
                    description: The name of the Addepar entity
        clientRef:
          $ref: '#/components/schemas/ClientRef'
        externalClientId:
          type:
          - string
          - 'null'
          description: Non-Arch ID for this account. Used to map the account to an external system
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
