openapi: 3.2.0
info:
  title: Arch Client Offerings API
  version: 0.1.0
  description: '# Arch Client API Documentation


    ## Getting Started


    To get started, you need to request credentials from us at api-support@arch.co.'
servers:
- url: /
host: arch.co
tags:
- name: Offerings
  description: Get data on individual investment offering opportunities offered by your holdings
paths:
  /client-api/v0/offerings:
    get:
      summary: Get all offering ids for the caller
      security:
      - BearerAuth: []
      description: Return a page of offerings that the caller has access to.
      tags:
      - Offerings
      parameters:
      - name: limit
        in: query
        description: The number of offerings to return
        schema:
          type: integer
          default: 25
          maximum: 1000
      - name: offset
        in: query
        description: The number of offerings to skip before collecting results
        schema:
          type: integer
          default: 0
          minimum: 0
      responses:
        '200':
          description: A page of offering data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferingPage'
        '500':
          description: Internal server error.
      operationId: getClientApiV0Offerings
      x-operation-id-source: derived
  /client-api/v0/offerings/{id}:
    get:
      summary: Get an offering by id
      security:
      - BearerAuth: []
      description: Return an offering with a specific id.
      tags:
      - Offerings
      parameters:
      - name: id
        in: path
        description: The id of the offering to retrieve
        schema:
          type: integer
      responses:
        '200':
          description: The requested offering.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offering'
        '404':
          description: Offering not found or not accessible.
        '500':
          description: Internal server error.
      operationId: getClientApiV0OfferingsById
      x-operation-id-source: derived
components:
  schemas:
    OfferingPage:
      type: object
      properties:
        kind:
          type: string
          example: page
        prev:
          type: string
          description: The URL to access the previous page of offerings
          example: /offerings?limit=1000&offset=0
        next:
          type: string
          description: The URL to access the next page of offerings
          example: /offerings?limit=1000&offset=1000
        selfUrl:
          type: string
          description: The URL to access this set of offerings
          example: /offerings?limit=1000&offset=0
        contents:
          type: array
          items:
            $ref: '#/components/schemas/Offering'
    Offering:
      type: object
      required:
      - id
      - type
      properties:
        assetType:
          type: string
          description: The type of asset for this offering
          example: Real Estate
        name:
          type: string
          description: The name for the offering
        id:
          type: integer
          description: The unique identifier for the offering
        type:
          type: string
          description: The method of investment for this offering, e.g. "Equity" or "Debt/Loan
        selfUrl:
          type: string
          description: The URL to access this offering
      example:
        id: 12345
        type: Equity
        name: Arch Offering
        selfUrl: /offerings/12345
        assetType: Real Estate
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
