openapi: 3.2.0
info:
  title: Arch Client Cash Flows API
  version: 0.1.0
  description: '# Arch Client API Documentation


    ## Getting Started


    To get started, you need to request credentials from us at api-support@arch.co.'
servers:
- url: /
host: arch.co
tags:
- name: Cash Flows
  description: Read and write data relating to money inflow / outflow
paths:
  /client-api/v0/cash-flows:
    get:
      summary: Get data for a set of cash flows available to the user
      security:
      - BearerAuth: []
      description: Returns a paginated list of cash flows available to the user as determined by the user's access token.
      tags:
      - Cash Flows
      parameters:
      - name: limit
        in: query
        description: The number of cash flows to return
        schema:
          type: integer
          default: 25
          maximum: 1000
      - name: offset
        in: query
        description: The number of cash flows to skip before collecting results
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: holdingIds
        in: query
        example: 1,2,3,4
        description: Filter the output for cash flows belonging to holdings with ids in the provided argument
        schema:
          type: string
      - name: investingEntityIds
        in: query
        example: 1,2,3,4
        description: Filter the output for cash flows belonging to investing entities with ids in the provided argument
        schema:
          type: string
      - name: issuingEntityIds
        in: query
        example: 1,2,3,4
        description: Filter the output for cash flows belonging to issuing entities with ids in the provided argument
        schema:
          type: string
      - name: accountIds
        in: query
        example: 1,2,3,4
        description: Will filter the output to only include holdings relevant to one of the account ids in the provided argument
        schema:
          type: string
      - name: title
        in: query
        example: Test Name
        description: Filter the output for cash flows with a title that contains the provided value
        schema:
          type: string
      - name: types
        schema:
          type: string
        example: Capital Call, Distribution, Contribution
        in: query
        description: Will filter the output to only include cash flows with one of the types in the provided argument
      - name: beforeDueAt
        in: query
        description: Filter the output for cash flows with a due time before the queried datetime.
        example: '2024-05-22T21:15:55.306Z'
        schema:
          type: string
          format: date-time
      - name: afterDueAt
        in: query
        description: Filter the output for cash flows with a due time after the queried datetime.
        example: '2024-05-22T21:15:55.306Z'
        schema:
          type: string
          format: date-time
      - name: beforeCompletedAt
        in: query
        description: Filter the output for cash flows with a completion date before the queried datetime.
        example: '2024-05-22T21:15:55.306Z'
        schema:
          type: string
          format: date-time
      - name: afterCompletedAt
        in: query
        description: Filter the output for cash flows with a completion date after the queried datetime.
        example: '2024-05-22T21:15:55.306Z'
        schema:
          type: string
          format: date-time
      - name: beforeCreatedAt
        in: query
        description: Filter the output for cash flows with a creation time before the queried datetime.
        example: '2024-05-22T21:15:55.306Z'
        schema:
          type: string
          format: date-time
      - name: afterCreatedAt
        in: query
        description: Filter the output for cash flows with a creation time after the queried datetime.
        example: '2024-05-22T21:15:55.306Z'
        schema:
          type: string
          format: date-time
      - name: includeAllocations
        in: query
        description: Whether to include data about allocations in the response.
        example: true
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashFlowList'
        '500':
          description: Internal server error.
      operationId: getClientApiV0CashFlows
      x-operation-id-source: derived
    post:
      summary: Add a new cash flow to Arch. Assumes USD
      security:
      - BearerAuth: []
      description: Creates a new cash flow and returns the URL, if successful. Assumes the cash flow is in USD.
      tags:
      - Cash Flows
      requestBody:
        description: Details of the new cash flow to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCashFlow'
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
              description: URL of the new cash flow
        '403':
          description: No permission to create cash flow with the specified data.
        '500':
          description: Internal server error.
      operationId: postClientApiV0CashFlows
      x-operation-id-source: derived
  /client-api/v0/cash-flows/{id}:
    get:
      summary: Get a specific cash flow by ID
      security:
      - BearerAuth: []
      description: Returns an object containing data for a specific cash flow.
      tags:
      - Cash Flows
      parameters:
      - name: id
        in: path
        description: A specific cash flow to query
        required: true
        schema:
          type: integer
      - name: includeAllocations
        in: query
        description: Whether to include data about allocations in the response.
        example: true
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashFlow'
        '400':
          description: Cash flow ID could not be parsed.
        '404':
          description: Cash flow ID not found or is inaccessible to the user.
        '500':
          description: Internal server error.
      operationId: getClientApiV0CashFlowsById
      x-operation-id-source: derived
components:
  schemas:
    CashFlowList:
      type: object
      required:
      - kind
      - selfUrl
      - contents
      properties:
        kind:
          type: string
          description: page
          example: page
        selfUrl:
          type: string
          description: The relative URL for accessing this resource via the Arch Client API
          example: /cashflows?limit=1000&offset=1000
        contents:
          type: array
          items:
            $ref: '#/components/schemas/CashFlow'
          description: List of cash-flows
        next:
          type: string
          description: The relative URL for accessing the next page of this resource via the Arch Client API
          example: /cashflows?limit=1000&offset=2000
        prev:
          type: string
          description: The relative URL for accessing the previous page of this resource via the Arch Client API
          example: /cashflows?limit=1000&offset=0
    NewFinancialValue:
      type: object
      description: 'A financial value in USD. Currently only USD is supported. Most values can be negative, except totalContribution which must be non-negative.

        '
      required:
      - quantity
      properties:
        quantity:
          type: number
          description: The amount in dollars (USD). Can be negative for most fields, except totalContribution.
          example: 100000
    FinancialValueUnitType:
      type: string
      enum:
      - CURRENCY
      - STOCK
      - CRYPTO
      example: CURRENCY
      description: Indicates the denomination or category of financial instrument being returned. Possible values include CURRENCY, STOCK, and CRYPTO
    CashFlowAllocation:
      type: object
      required:
      - flowDirection
      - typeName
      - financialValue
      - id
      properties:
        flowDirection:
          type: number
          example: 1
          description: The direction of the cash transfer relative to the caller
        typeName:
          type: string
          example: Buy
          description: The type of this specific allocation
        financialValue:
          $ref: '#/components/schemas/CashFlowFinancialValue'
        id:
          type: number
          example: 1
          description: The ID of this specific allocation
        investorNotes:
          type: string
          example: My Note
          description: Notes relating to this allocation, entered by users on Portal.
    CurrencyCode:
      type: string
      example: USD
      default: USD
      description: The currency code for the financial value. Defaults to "USD" if not provided.
    NewCashFlow:
      type: object
      required:
      - type
      - financialValue
      - dueAt
      - holdingId
      properties:
        type:
          $ref: '#/components/schemas/CashFlowType'
        financialValue:
          $ref: '#/components/schemas/NewFinancialValue'
        holdingId:
          type: integer
          description: The ID of the holding that the cash flow is tied to
        dueAt:
          type: string
          format: date-time
          description: Date and time of cash flow's specified completion in UTC
        completedAt:
          type: string
          format: date-time
          description: Date and time of cash flow's recorded completion in UTC
        title:
          type: string
          description: The title or name of the cash flow
        investorNotes:
          type: string
          description: Notes added by the investor for the cash flow
      example:
        type: Capital Call
        financialValue:
          quantity: 1000
          currencyCode: USD
        holdingId: 29110
        dueAt: '2023-12-16 01:00:00'
        completedAt: '2023-11-15 01:00:00'
        title: My New Cash Flow
        investorNotes: Created via API
    CashFlowType:
      description: The type of cash flow
      type: string
      enum:
      - Capital Call
      - Distribution
      - Contribution
      - Interest Payment
      - Redemption
      - Buy
      - Sale
      - Dividend
      - Internal Transfer
    CashFlowFinancialValue:
      title: FinancialValue
      type: object
      properties:
        quantity:
          type: integer
          format: int64
          description: The quantity of the financial value
          example: 100000
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
        dollars:
          type: integer
          format: int64
          description: The financial value in dollars
        symbol:
          type: string
          description: Currency symbol, if unit type is a currency, or stock ticker if it is a stock
        unitType:
          $ref: '#/components/schemas/FinancialValueUnitType'
      example:
        quantity: 100000
        currencyCode: USD
        dollars: 100000
        symbol: $
        unitType: CURRENCY
    CashFlow:
      type: object
      required:
      - kind
      - id
      - type
      - selfUrl
      - firmUrl
      - holdingUrl
      - investingEntityUrl
      - financialValue
      - createdAt
      properties:
        kind:
          type: string
          description: Cash Flow
        id:
          type: integer
          description: The Arch ID of the cash flow
          example: 12345
        type:
          type: object
          description: The type of cash flow
          properties:
            name:
              $ref: '#/components/schemas/CashFlowType'
            flowDirection:
              type: integer
              description: Direction of the cash flow (-1 outbound, 0 internal transfer, 1 inbound)
              enum:
              - -1
              - 0
              - 1
        selfUrl:
          type: string
          description: The relative path for accessing this resource via the Arch Client API
          example: /cashflows/37205
        firmUrl:
          example: /firms/15
          type: string
          description: The relative path for accessing the firm associated with the cash flow
        activityUrl:
          type: string
          description: The relative path for accessing the activity that the cash flow is tied to
          example: /activities/23125
        holdingUrl:
          type: string
          description: The relative path for accessing the holding that the cash flow is tied to
          example: /investments/91494
        investingEntityUrl:
          type: string
          description: The relative path for accessing the investing entity associated with the cash flow
          example: /entities/29110
        issuingEntityUrl:
          example: /issuing-entities/15
          type: string
          description: The relative path for accessing the issuing entity associated with the cash flow
        accountUrl:
          example: /accounts/56
          type: string
          description: The relative path for accessing the account associated with the cash flow
        financialValue:
          $ref: '#/components/schemas/CashFlowFinancialValue'
        createdAt:
          type: string
          format: date-time
          description: Date and time of cash flow created in UTC
        dueAt:
          type: string
          format: date-time
          description: Date and time of cash flow's specified completion in UTC
        completedAt:
          type: string
          format: date-time
          description: Date and time of cash flow's recorded completion in UTC
        title:
          type: string
          description: The title or name of the cash flow
          example: My Cash Flow
        investorNotes:
          type: string
          description: Notes added by the investor for the cash flow
          example: Created via API
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/CashFlowAllocation'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
