openapi: 3.2.0
info:
  title: Arch Client Tax Documents API
  version: 0.1.0
  description: '# Arch Client API Documentation


    ## Getting Started


    To get started, you need to request credentials from us at api-support@arch.co.'
servers:
- url: /
host: arch.co
tags:
- name: Tax Documents
paths:
  /client-api/v0/tax-documents:
    get:
      operationId: get-list-tax-documents
      parameters:
      - name: year
        in: query
        deprecated: true
        description: A year to query tax documents from. Defaults to the last calendar year.
        schema:
          type: integer
      - name: beforeReceivedTime
        in: query
        description: Filter the output for activities with a processed time before the queried timestamp.
        example: '2024-05-22T21:15:55.306Z'
        schema:
          type: string
          format: date-time
      - name: afterReceivedTime
        in: query
        description: Filter the output for activities with a processed time after the queried timestamp.
        example: '2024-05-22T21:15:55.306Z'
        schema:
          type: string
          format: date-time
      - name: years
        in: query
        description: A comma separated list of years to query tax documents from. Defaults to the last calendar year.
        schema:
          type: string
      - name: offset
        in: query
        description: The number of tax documents to skip before collecting results
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: limit
        in: query
        description: The number of tax documents to return
        schema:
          type: integer
          default: 25
          minimum: 25
      - name: documentType
        in: query
        description: The type of tax document to filter by
        schema:
          type: string
          enum:
          - K1
          - '1099'
          - Other
      - name: includeFiles
        in: query
        description: Whether to include file details in the response
        schema:
          type: boolean
          default: false
      summary: Get all tax documents
      security:
      - BearerAuth: []
      tags:
      - Tax Documents
      responses:
        '200':
          description: The tax document overview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxDocumentList'
  /client-api/v0/tax-documents/{taxDocId}:
    get:
      operationId: get-tax-document-by-id
      summary: Get a single tax document by ID
      security:
      - BearerAuth: []
      tags:
      - Tax Documents
      parameters:
      - name: taxDocId
        in: path
        description: The ID of the tax document to retrieve
        required: true
        schema:
          type: integer
      - name: includeFiles
        in: query
        description: Whether to include file details in the response
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: The tax document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxDocument'
        '404':
          description: Tax document not found
  /client-api/v0/tax-documents/{taxDocId}/files:
    get:
      operationId: get-tax-document-list-files
      summary: Get all files for a specific tax document
      security:
      - BearerAuth: []
      description: Returns a list of files, including download links.
      tags:
      - Tax Documents
      parameters:
      - name: taxDocId
        in: path
        description: A specific tax document to query
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A list of files for the tax document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxDocFileList'
  /client-api/v0/tax-documents/{taxDocId}/files/{fileId}/download:
    get:
      operationId: get-tax-document-download-file
      summary: Download individual tax doc file
      security:
      - BearerAuth: []
      tags:
      - Tax Documents
      parameters:
      - name: taxDocId
        in: path
        description: A specific tax document to query
        required: true
        schema:
          type: integer
      - name: fileId
        in: path
        description: A specific file to download
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          description: Buffer containing the content of the requested file.
components:
  schemas:
    TaxDocumentList:
      type: object
      required:
      - kind
      - selfUrl
      - contents
      properties:
        kind:
          type: string
          description: page
        contents:
          type: array
          items:
            $ref: '#/components/schemas/TaxDocument'
          description: List of tax documents
        selfUrl:
          type: string
          description: The URL for the current page of documents
          example: /tax-documents?limit=25&offset=50
        next:
          type: string
          description: The URL for the next page of documents
          example: /tax-documents?limit=25&offset=75
        prev:
          type: string
          description: The URL for previous page of documents
          example: /tax-documents?limit=25&offset=25
    TaxDocument:
      type: object
      required:
      - kind
      - id
      - selfUrl
      - type
      - holdingRef
      - investingEntityRef
      - issuingEntityRef
      properties:
        kind:
          type: string
          description: tax-document
          example: tax-document
        id:
          type: number
          description: The Arch ID for tracking the tax document
          example: 100200
        selfUrl:
          type: string
          description: The relative URL for accessing this resource via the Arch Client API
          example: /tax-documents/100200
        type:
          type: string
          description: The type of document expected.
          example: K-1
        taxYear:
          type: number
          description: The tax year the document corresponds to
          example: 2024
        repeatedCadence:
          type: string
          enum:
          - Yearly
          - One-off
          description: Whether the tax document is expected yearly, or one time
        collectionStatus:
          type: string
          enum:
          - Waiting
          - Linking
          - ReceivedEstimate
          - ReceivedDraft
          - ReceivedFinal
          - NoDocument
          - NotThisYear
          - Overdue
          - OverdueReachedOut
          - NotApplicable
          - WaitingReachedOut
          description: Whether we have received the document
        receivedDate:
          type: string
          format: date
          description: The date the document was received
          example: 2024/03/29
        receivedTime:
          type: string
          format: date-time
          description: Date and time when the document was received in UTC
          example: '2024-03-29T14:30:00.000Z'
        expectedDate:
          type: string
          format: date
          description: The date the document was expected to arrive
          example: 2024/03/31
        fileUrl:
          type: string
          description: A relative URL to see the files associated with this tax document
          example: /tax-documents/100200/files
        holdingRef:
          $ref: '#/components/schemas/HoldingRef'
        investingEntityRef:
          $ref: '#/components/schemas/InvestingEntityRef'
        issuingEntityRef:
          $ref: '#/components/schemas/IssuingEntityRef'
        accountRef:
          $ref: '#/components/schemas/AccountRef'
    HoldingRef:
      type: object
      required:
      - kind
      - id
      - url
      properties:
        kind:
          type: string
          enum:
          - holding-ref
        id:
          type: number
          description: The ID of the referenced holding
          example: 112
        url:
          type: string
          description: A relative url to the referenced holding
          example: /holdings/112
        name:
          type: string
          description: The name of the referenced holding
          example: Holding 112
    InvestingEntityRef:
      type: object
      required:
      - kind
      - id
      - url
      properties:
        kind:
          type: string
          enum:
          - investing-entity-ref
        id:
          type: number
          description: The ID of the referenced investing entity
          example: 711
        url:
          type: string
          description: A relative url to the referenced investing entity
          example: /investing-entities/711
        name:
          type: string
          description: The name of the referenced investing entity
          example: Investing Entity 711
    File:
      type: object
      required:
      - id
      - name
      - uploadTime
      - downloadUrl
      properties:
        id:
          type: number
          description: A unique identifier for the file
          example: 101
        name:
          type: string
          description: Name of the file
          example: 56_TestEntity.pdf
        sizeBytes:
          type: number
          description: Size of the file in bytes
          example: 123456
        uploadTime:
          type: string
          description: Time of the file upload
          example: '2024-02-08T18:50:15.000Z'
        fileHash:
          type: string
          description: A hash of the file
          example: afakehash
        downloadUrl:
          type: string
          description: A relative url to download the file itself, as originally received by Arch
          example: /{parentType}/1234/files/1234/download
        originalName:
          type: string
          description: Original name of the file before applying custom name conventions
          example: file_123.pdf
    ActivityRef:
      type: object
      required:
      - id
      - url
      - filesUrl
      properties:
        id:
          type: string
          description: The ID of the referenced activity
          example: 112
        url:
          type: string
          description: A relative url to the referenced activity
          example: /activities/112
        filesUrl:
          type: string
          description: A relative url to the files attached to the referenced activity. The activity may not have files attached.
          example: /activities/112/files
    TaxDocFileList:
      type: object
      properties:
        kind:
          type: string
          enum:
          - page
        contents:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/File'
            - type: object
              properties:
                version:
                  type: string
                  enum:
                  - Final
                  - Draft
                  - Estimate
                  - Uploaded
                type:
                  type: string
                  description: The type of document received.
                  example: K-1
                downloadUrl:
                  type: string
                  description: A relative url to download the file itself, as originally received by Arch
                activityRef:
                  $ref: '#/components/schemas/ActivityRef'
            example:
              kind: page
              selfUrl: /tax-documents/100200/files
              contents:
              - id: 200101
                name: 56_TestEntity.pdf
                sizeBytes: 12345
                uploadTime: '2024-03-14T18:50:15.000Z'
                fileHash: afakehash
                version: Estimate
                type: K-1
                downloadUrl: /tax-documents/100200/files/200101/download
                originalName: estimated-k1.pdf
              - id: 200102
                name: 56_TestEntity.pdf
                sizeBytes: 23456
                uploadTime: '2024-03-28T12:22:00.000Z'
                fileHash: differentfakehash
                version: Final
                type: K-1
                downloadUrl: /tax-documents/100200/files/200102/download
                originalName: final-k1.pdf
    AccountRef:
      type: object
      required:
      - kind
      - id
      - url
      properties:
        kind:
          type: string
          enum:
          - account-ref
        id:
          type: number
          description: The ID of the referenced account
          example: 56
        url:
          type: string
          description: A relative url to the referenced account
          example: /account/56
        name:
          type: string
          description: The name of the referenced account
          example: Account 56
    IssuingEntityRef:
      type: object
      required:
      - kind
      - id
      - url
      properties:
        kind:
          type: string
          enum:
          - issuing-entity-ref
        id:
          type: number
          description: The ID of the referenced issuing entity
          example: 204
        url:
          type: string
          description: A relative url to the referenced issuing entity
          example: /issuing-entities/204
        name:
          type: string
          description: The name of the referenced issuing entity
          example: Issuing Entity 204
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
