openapi: 3.2.0
info:
  title: Arch Client Addepar API
  version: 0.1.0
  description: '# Arch Client API Documentation


    ## Getting Started


    To get started, you need to request credentials from us at api-support@arch.co.'
servers:
- url: /
host: arch.co
tags:
- name: Addepar
paths:
  /client-api/v0/addepar/exports:
    get:
      operationId: get-addepar-exports
      summary: Get Addepar export results for accessible accounts
      security:
      - BearerAuth: []
      description: Returns Addepar export for all activities Arch has attempted to export to Addepar for a given user. This includes activity IDs, export timestamps, and error messages for activities that have been exported to Addepar.
      tags:
      - Addepar
      responses:
        '200':
          description: List of Addepar export results with error information
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddeparExportResult'
        '404':
          description: No addepar exports found for given user
        '500':
          description: Internal server error
components:
  schemas:
    AddeparExportResult:
      type: object
      properties:
        activityId:
          type: integer
          description: Activity ID
          example: 12345
        time:
          type: string
          format: date-time
          description: When the export was pushed to Addepar
          example: '2024-01-15T11:45:00Z'
        verboseFailureReason:
          type:
          - string
          - 'null'
          description: Detailed error message if export failed, null if export succeeded
          example: Entity mapping not found for investment ID 789
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
