openapi: 3.2.0
info:
  title: Arch Client Lookthroughs API
  version: 0.1.0
  description: '# Arch Client API Documentation


    ## Getting Started


    To get started, you need to request credentials from us at api-support@arch.co.'
servers:
- url: /
host: arch.co
tags:
- name: Lookthroughs
  description: Fetch data relating to the underling investments made by your own investments
paths:
  /client-api/v0/lookthroughs:
    get:
      deprecated: true
      summary: (Deprecated) Get lookthroughs for the specified account
      security:
      - BearerAuth: []
      description: 'Deprecation Warning: prefer getting lookthroughs by issuing entity. Returns a list of lookthroughs for the specified account. Aggregate fund-level data is available through the holdings endpoint; lookthroughs provide details about the portfolios of individual funds.'
      tags:
      - Lookthroughs
      parameters:
      - name: ids
        in: query
        description: A comma-separated list of Lookthrough IDs
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: A list of lookthroughs data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lookthrough'
        '500':
          description: Internal server error.
      operationId: getClientApiV0Lookthroughs
      x-operation-id-source: derived
components:
  schemas:
    Lookthrough:
      type: object
      required:
      - investmentId
      properties:
        investmentId:
          type: number
          description: ID for the associated investment
        issuingEntityId:
          type: number
          description: ID for the associated issuing entity
        company:
          type: string
          description: Associated Company
        liquidity:
          type: string
          description: Type of liquidity -- Public/Private
        holdingType:
          type: string
          description: Holding type
        numShares:
          type: number
          format: number
          description: Number of shares
        costCents:
          type: number
          description: Cost Basis (Cents)
        asOf:
          type: string
          format: date
          description: As Of date, in MM/DD/YYYY format
        fairValueCents:
          type: number
          description: Unrealized Value (Cents)
      example:
        investmentId: 5068
        issuingEntityId: 1398
        company: Aether Biomachines, Inc.
        liquidity: Private
        holdingType: Series Seed Preferred
        numShares: 187265
        costCents: 49999800
        asOf: 06/29/2020
        fairValueCents: 49999800
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
