openapi: 3.2.0
info:
  title: Arch Client Authentication API
  version: 0.1.0
  description: '# Arch Client API Documentation


    ## Getting Started


    To get started, you need to request credentials from us at api-support@arch.co.'
servers:
- url: /
host: arch.co
tags:
- name: Authentication
paths:
  /client-api/v0/auth/token:
    post:
      summary: Authenticate using client credentials
      description: Given a clientId and clientSecret, generates a JSON Web Token for access to the Arch Client API.
      security: []
      tags:
      - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - clientId
              - clientSecret
              properties:
                clientId:
                  type: string
                  description: An ID that uniquely identifies the client
                clientSecret:
                  type: string
                  description: The API Secret associated with the clientId
              example:
                clientId: EXAMPLE_CLIENT_ID
                clientSecret: EXAMPLE_CLIENT_SECRET
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - client_id
              - client_secret
              properties:
                client_id:
                  type: string
                  description: An ID that uniquely identifies the client
                client_secret:
                  type: string
                  description: The API Secret associated with the client_id
              example:
                client_id: EXAMPLE_CLIENT_ID
                client_secret: EXAMPLE_CLIENT_SECRET
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    description: A JSON Web Token for access to the Arch Client API
                  expiresIn:
                    type: integer
                    description: The length of time the token is valid for, in seconds
                  tokenType:
                    type: string
                    description: Bearer token type
                example:
                  accessToken: EXAMPLE_ACCESS_TOKEN
                  expiresIn: 86400
                  tokenType: Bearer
        '401':
          description: Unauthorized.
        '500':
          description: Internal Server Error.
      operationId: postClientApiV0AuthToken
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
