openapi: 3.2.0
info:
  title: Arch Client Users API
  version: 0.1.0
  description: '# Arch Client API Documentation


    ## Getting Started


    To get started, you need to request credentials from us at api-support@arch.co.'
servers:
- url: /
host: arch.co
tags:
- name: Users
paths:
  /client-api/v0/users/{id}:
    get:
      summary: Get data for a user
      security:
      - BearerAuth: []
      description: Returns the user object associated with the specified id.
      tags:
      - Users
      parameters:
      - name: id
        in: path
        description: A specific user id to lookup
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: Not Found
        '500':
          description: Internal server error.
      operationId: getClientApiV0UsersById
      x-operation-id-source: derived
    patch:
      summary: Update data for a user. Unspecified fields will not be updated
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        description: The specific user id to update.
        schema:
          type: integer
      description: Updates the user's first and last name (email and ID cannot be changed). Returns the user object with updated field values.
      tags:
      - Users
      requestBody:
        description: An object containing the new user data to apply to the user. Properties that aren't specified are unchanged
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  description: The user's first name
                  example: John
                lastName:
                  type: string
                  description: The user's last name
                  example: Smith
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: Not Found
        '500':
          description: Internal server error.
      operationId: patchClientApiV0UsersById
      x-operation-id-source: derived
  /client-api/v0/users:
    post:
      summary: Create new user
      security:
      - BearerAuth: []
      description: Returns.
      tags:
      - Users
      requestBody:
        description: Personal data to use when creating user
        content:
          application/json:
            schema:
              type: object
              required:
              - firstName
              - lastName
              - email
              properties:
                firstName:
                  type: string
                  description: The user's first name
                  example: John
                lastName:
                  type: string
                  description: The user's last name
                  example: Smith
                email:
                  type: string
                  description: The user's email. This must be unique, and cannot be changed after creation
                  example: test@example.com
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '404':
          description: Not Found
        '409':
          description: User with this email already exists
        '500':
          description: Internal server error.
      operationId: postClientApiV0Users
      x-operation-id-source: derived
components:
  schemas:
    User:
      type: object
      required:
      - id
      - firstName
      - lastName
      - email
      - selfUrl
      - username
      properties:
        id:
          type: integer
          description: The assigned user id
          example: '15'
        firstName:
          type: string
          description: The user's first name
          example: John
        lastName:
          type: string
          description: The user's last name
          example: Smith
        email:
          type: string
          description: The user's email
          example: test@example.com
        username:
          type: string
          description: The user's Arch username
          example: jsmith
        clientProvidedId:
          type: string
          description: A client-defined identifier for associating this user with an external system (e.g., an ID from your user database). Treated as an opaque string by Arch.
          example: johns123
        selfUrl:
          type: string
          description: The relative URL for accessing this resource via the Arch Client API
          example: /users/15
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
