openapi: 3.2.0
info:
  title: Arch Client Firms API
  version: 0.1.0
  description: '# Arch Client API Documentation


    ## Getting Started


    To get started, you need to request credentials from us at api-support@arch.co.'
servers:
- url: /
host: arch.co
tags:
- name: Firms
  description: Reference info about firms.
paths:
  /client-api/v0/firms:
    get:
      operationId: list-firms
      summary: Get a paginated list of firms
      security:
      - BearerAuth: []
      description: Returns a paginated list of firms that the authenticated user has access to.
      tags:
      - Firms
      parameters:
      - name: limit
        in: query
        description: The number of firms to return per page
        schema:
          type: integer
          default: 25
          minimum: 0
          maximum: 1000
      - name: offset
        in: query
        description: The number of firms to skip before collecting results
        schema:
          type: integer
          default: 0
          minimum: 0
      responses:
        '200':
          description: A list of firm data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmList'
        '500':
          description: Internal Server Error
  /client-api/v0/firms/{id}:
    get:
      operationId: get-individual-firm
      summary: Get a firm by ID
      security:
      - BearerAuth: []
      description: Get a firm by ID.
      tags:
      - Firms
      parameters:
      - name: id
        in: path
        description: The ID of the firm to get.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firm'
        '403':
          description: Firm not found or caller not authorized to view firm.
          content:
            text/plain:
              schema:
                type: string
components:
  schemas:
    FirmList:
      type: object
      required:
      - kind
      - selfUrl
      - contents
      properties:
        kind:
          type: string
          enum:
          - page
          description: The kind of resource (always "page" for paginated responses)
        selfUrl:
          type: string
          description: The relative URL for accessing this page of results
          example: /firms?limit=25&offset=0
        contents:
          type: array
          description: Array of firm objects
          items:
            $ref: '#/components/schemas/Firm'
        prev:
          type: string
          description: The relative URL for the previous page (omitted if on first page)
          example: /firms?limit=25&offset=0
        next:
          type: string
          description: The relative URL for the next page (omitted if on last page)
          example: /firms?limit=25&offset=25
      example:
        kind: page
        selfUrl: /firms?limit=25&offset=0
        contents:
        - kind: Firm
          selfUrl: /firms/2632
          id: '2632'
          name: Arch Labs
        - kind: Firm
          selfUrl: /firms/1234
          id: '1234'
          name: Example Venture Partners
        next: /firms?limit=25&offset=25
    Firm:
      type: object
      required:
      - kind
      - selfUrl
      - id
      properties:
        kind:
          type: string
          enum:
          - Firm
        selfUrl:
          type: string
          description: The relative URL for accessing this resource
          example: /firms/2632
        id:
          type: string
          description: The firm ID.
          example: 2632
          readOnly: true
        name:
          type: string
          example: Arch Labs
          description: The name of the firm.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
